/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    color: #000;
}

h1, h2, h3{
    font-family: "Poppins" , "serif";
    text-transform: uppercase;
    color: #002349;
}

/* START HEADER CODE */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #002349;
    
}

nav .logo img {
    width: 80px;
}

.nav-links {
    display: none;
    flex-direction: column;
    background-color: #002349;
    opacity: .99;
    position: absolute;
    top: 100px; 
    right: 0;
    width: 100%;
    text-align: center;
    font-family: "Poppins" , "serif";
    text-transform: uppercase;
    z-index: 9;
}

.nav-links li {
    list-style: none;
    padding-bottom: 5px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
}

.nav-links a:hover{
    font-weight: 600;
    letter-spacing: 2px;
    transition: 0.3s ease;
}

.burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
    transition: all 0.3s ease;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
}

/* Animation to transform into X */
.burger.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.burger.toggle .line2 {
    opacity: 0;
}

.burger.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* Show nav menu when burger is clicked */
.nav-active {
    display: flex;
}

/* Button Styles */
.btn-connect {
    background-color: transparent;
    color: #fff!important;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-connect:hover {
    background-color: #fff;
    color: #002349!important;
}

/*END HEADER CODE*/


/*START HERO CODE*/

/* Hero Section for Mobile */
.hero {
    position: relative;
    width: 100%;
    height: 60vh; 
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.hero-content h1 {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
    padding-bottom: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
}

.btn-primary {
    background-color: #fff;
    color: #002349;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: transparent;
    color: #fff;
}

/*END HERO CODE*/


/*START EVENTS CODE*/

.current-events {
    padding: 2rem 1rem;
    background-color: #fff;
}

.current-events h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: #002349;
}

.events-list {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.event {
    background-color: #f3f3f3;
    padding: 1.5rem;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.event h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-family: 'Poppins', sans-serif;
    color: #002349;
}

.event p {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: 'Inter', sans-serif;
    color: #333;
    padding-bottom: 10px;
}

.btn-secondary {
    background-color: transparent;
    color: #002349;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: 1px solid #002349;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #002349;
    color: #fff;
}

/*END EVENTS CODE*/


/*START WEATHER CODE*/

.weather-card {
    background-color: #f3f3f3;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 10px;
    margin: 2rem 0;
}

.weather-card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #002349;
}

.weather-content {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.weather-content h3{
    padding: 1rem 0;
}

.weather-content p{
    text-transform: capitalize;
}

/*END WEATHER CODE*/

/*START SPOTLIGHT CODE*/

.company-spotlights {
    background-color: #ffffff; 
    padding: 2rem;
    margin: 2rem 0;
    text-align: center; 
}

.company-spotlights h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #002349;
}

.spotlight-card {
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    background-color: #F3F3F3;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; 
}

.spotlight-card h3{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-family: 'Poppins', sans-serif;
    color: #002349;
}

.spotlight-card:hover {
    transform: scale(1.02); 
}

.spotlight-card a{
    position: relative;
    color: #000;
    text-decoration: none;
}

.spotlight-card a:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: grey!important;
    transition: .3s linear;
}

.spotlight-card a:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: #002349!important;
    transition: .3s linear;
}

.spotlight-card a:hover::after{
    width: 100%;
}

.spotlight-card a:hover{
    color: #002349;
    letter-spacing: 1px;
    transition: 0.3s ease;
}

/*END SPOTLIGHT CODE*/


/*START CTA SECTION CODE*/

.cta-block {
    text-align: center; 
    padding: 2rem; 
    background-color: #f3f3f3; 
}

.cta-block h2 {
    margin-bottom: 10px;
    color: #002349;
}

.cta-block p {
    margin-bottom: 20px;
}

.social-icons {
    display: flex; 
    justify-content: center; 
    gap: 15px; 
}

.social-icon img {
    width: 40px; 
    height: 40px; 
}

.social-icons a:hover{
    transition: .2s ease;
    transform: scale(1.1);
}
/*END CTA SECTION CODE*/

/*BANNER CODE*/

.banner {
    background-color: #f3f3f3; 
    color: #002349;
    padding: 10px 40px 10px 10px; 
    text-align: center;
    position: fixed;
    width: 100%;
    margin-top: 4px;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    border: 2px solid #002349;
    border-radius: 10px;
}

.banner p {
    margin: 0;
    font-size: 14px;
}

.close-btn {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

/*END BANNER CODE*/


/*START DISCOVER PAGE CODE*/
/* Hero Section for Mobile */
.hero-discover {
    position: relative;
    width: 100%;
    height: 50vh; 
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Single column for mobile */
    gap: 20px;
    padding: 1rem;
}

.sidebar h2{
    font-size: 1.5rem; 
    margin: 30px 0 10px 0;
}

.sidebar h3{
    font-size: 1rem;
    margin: 2rem 0 0rem 0;
}

.gallery h2{
    font-size: 1.5rem; 
    margin-bottom: 10px;
}

.sidebar {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.sidebar ul{
    list-style: none;
}

.sidebar #visit-message{
    background-color: #002349;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.gallery {
    padding: 20px;
}

.image-grid {
    display: flex;
    flex-direction: column; /* Columna para móvil */
}

figure {
    margin: 10px 0;
    text-align: center;
}

.image-grid img {
    border-radius: 1rem;
    width: 100%;
    height: 200px; /* Establecer altura fija */
    object-fit: cover; /* Recortar la imagen para ajustarla */
}

figcaption {
    text-align: center;
    margin-top: 5px;
    font-weight: 400;
    font-size: 1rem;
    text-transform: capitalize;
}
/*END DISCOVER PAGE CODE*/


/*START JOIN PAGE CODE*/

/* Mobile-first styles */
.form-section {
    display: block;
    padding: 20px;
    background-color: #F3F3F3;
    margin: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-section form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    
}

.form-section label {
    margin-bottom: 5px;
    font-weight: 600;
}

.form-section input,
.form-section select,
.form-section textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #002349;
    border-radius: 5px;
}

select{
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    color: #000;
    background-color: #f3f3f3;
    border: 1px solid #002349;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5"><path fill="%23002349" d="M0 0l5 5 5-5H0z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 5px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}


.form-section input[type="submit"] {
    background-color: transparent;
    color: #002349;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: 1px solid #002349;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    cursor: pointer;
}


.form-section input[type="submit"]:hover {
    background-color: #002349;
    color: #fff;
}

/* Base mobile styles */

.membership-benefits {
    display: block; /* Make sure it's visible in mobile */
    padding: 20px;
    margin-top: 20px;
    background-color: #f3f3f3; /* Adjust background to match theme */
}

.membership-benefits h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.membership-benefits ul {
    list-style: none;
    padding: 0;
}

.membership-benefits ul li {
    margin-bottom: 15px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.membership-benefits ul li strong {
    display: block;
    margin-bottom: 5px;
}

/* Style for mobile dropdown for membership selection */
.membership-select {
    width: 100%;
    margin-bottom: 20px;
}


/*END JOIN PAGE CODE*/


/*START DIRECTORY CODE*/

.member-directory{
    padding: 1rem;
    text-align: center;  
}


.member-directory h2{
    font-size: 1.5rem;
    padding: 1rem 0;
}

.view-toggle #grid-view, #list-view{
    background-color: transparent;
    color: #002349;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: 1px solid #002349;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.view-toggle #grid-view:hover, #list-view:hover {
    background-color: #002349;
    color: #fff;
}

.directory-grid{
    padding: 1rem 0;
}

.directory-grid .member-card {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    padding: 1.5rem;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    align-items: center;
}

.directory-grid .member-card p{
    font-size: 1rem;
}

.directory-grid .member-card img{
    width: 100px;
    height: auto;
    padding-bottom: 10px;
}

.directory-grid .member-card a{
    position: relative;
    color: #000;
    text-decoration: none;
}

.directory-grid .member-card a:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: grey!important;
    transition: .3s linear;
}

.directory-grid .member-card a:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: #002349!important;
    transition: .3s linear;
}

.directory-grid .member-card a:hover::after{
    width: 100%;
}

.directory-grid .member-card a:hover{
    color: #002349;
}

.directory-list{
    padding: 1rem 0;
}

.directory-list .member-card {
    display: block;
    background-color: #f3f3f3;
    padding: 1.5rem;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
}

.directory-list .member-card img{
    display: none;
}

.directory-list .member-card a{
    position: relative;
    color: #000;
    text-decoration: none;
}

.directory-list .member-card a:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: grey!important;
    transition: .3s linear;
}

.directory-list .member-card a:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: #002349!important;
    transition: .3s linear;
}

.directory-list .member-card a:hover::after{
    width: 100%;
}

.directory-list .member-card a:hover{
    color: #002349;
}
/*END DIRECTORY PAGE CODE*/



/*START THANKYOU CODE*/

.thankyou-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
    padding: 20px;
    background-color: #f3f3f3;
}

.thankyou-section h1 {
    font-size: 1.8rem;
    color: #002349;
    margin-bottom: 1rem;
}

.thankyou-section p {
    font-size: 1rem;
    color: #000;
    margin-bottom: 2rem;
}

.thankyou-section .btn {
    display: inline-block;
    background-color: transparent;
    color: #002349;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: 1px solid #002349;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.thankyou-section .btn:hover {
    background-color: #002349;
    color: #fff;
}


/*END THANKYOU CODE*/


/*START FOOTER CODE*/

/* Footer styles for mobile */
footer {
    background-color: #002349;
    color: #fff;
    text-align: center;
    padding: 1rem 1rem;
}

.top-section, .bottom-section {
    margin-bottom: 1.5rem;
}

.footer-logo img {
    width: 120px;
    margin-bottom: 1rem;
}

footer p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

footer a{
    position: relative;
    color: #fff;
    text-decoration: none;
}

footer a:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: grey!important;
    transition: .3s linear;
}

footer a:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: #fff!important;
    transition: .3s linear;
}

footer a:hover::after{
    width: 100%;
}

footer a:hover{
    color: #fff;
    letter-spacing: 1px;
    transition: 0.3s ease;
}


#lastModified, #currentYear {
    font-size: 0.8rem;
    opacity: 0.8;
}

hr {
    border: 1px solid #fff;
    opacity: 0.5;
    margin: 1rem 0;
}

/* Responsive adjustments */
.footer-logo {
    margin-bottom: 1.5rem;
}

/*END FOOTER CODE*/